<div mat-dialog-title>
    Register Here...
</div>

<form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline">
                <mat-label>Username/Email</mat-label>
                <input 
                type="email"
                matInput
                placeholder="Email"
                formControlName="username">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input 
                type="text"
                matInput
                placeholder="Enter name"
                formControlName="name">

            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input 
                type="number"
                matInput
                placeholder="Mobile Number"
                formControlName="mobileNumber">
            </mat-form-field>

            <mat-form-field appearance="outline" hintLabel="Min 8 characters">
                <mat-label>Password</mat-label>
                <input 
                type="password"
                matInput
                placeholder="Enter Password"
                formControlName="password">


            </mat-form-field>
        </div>

        <div formGroupName="address">
            <h3>Enter Address details.</h3>

            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Street/Lane/Building</mat-label>
                    <input 
                    type="text"
                    matInput
                    placeholder="Street/Lane/Building"
                    formControlName="street">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text"
                    matInput
                    placeholder="City"
                    formControlName="city">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <input type="text"
                    matInput
                    placeholder="State"
                    formControlName="state">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline" hintLabel="6 digit zipcode">
                    <mat-label>Zipcode</mat-label>
                    <input type="number"
                    matInput
                    placeholder="Zipcode"
                    formControlName="zipCode">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <input type="text"
                    matInput
                    placeholder="Country"
                    formControlName="country">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button  mat-raised-button color="primary" type="submit">Register</button>
        <button mat-raised-button color="warn" type="reset">Clear</button>
    </div>
</form>
